<div fxFill  fxLayoutAlign="center center" >
  <mat-card class="example-card"  fxFlex="25">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>Enter your credentials.</mat-card-subtitle>
    </mat-card-header> 
    <mat-card-content>
      <form [formGroup]="formGroup" (ngSubmit)="loginProcess()">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <div *ngIf="submitted && f.email.errors">
            <div *ngIf="f.email.errors.required">Email is required</div>
          </div>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <div *ngIf="submitted && f.password.errors">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </mat-form-field>
        <br>
        <div class="example-button-row" >
          <button fxFill  fxLayoutAlign="center center" mat-raised-button color="primary"  type="submit">Login</button>
        </div>
      </form> <br/>
      <div class="example-button-row" > 
        <a fxFill  fxLayoutAlign="center center" mat-raised-button color="accent" routerLink="/account/register" routerLinkActive="active">Register</a>
      </div>
    </mat-card-content> 
  </mat-card>
</div> 
